html{
    background: #e01818ca;
    font-family: 'Righteous', cursive;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 800px;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 5rem;
    font-size: 2rem;
    color: #FFF;
}

.header__icon-timer {
    cursor: pointer;
}

.header__icon-options {
    cursor: pointer;
}

.main {
    display: flex;
}

.main__timer-section {
    flex: 1;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2 {
    margin-top: 2rem;
    color: #FFF;
    font-size: 4rem;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: sans-serif;
}

.main__buttons {
    display: flex;
}

button {
    font-family: 'Righteous', cursive;
    border: none;
    margin: 1rem 1.5rem;
    margin-top: 4rem;
    padding: 0.5rem 2rem;
    border-radius: 5px;
    color: #e01818ca;
    font-size: 1.3rem;
}

.main__reset-button {
    margin-top: 2rem;
}

.main__show-timer-options, .main__show-timer {
    margin-top: 2rem;
}

.main__show-timer-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    display: none;
}

.main__show-timer-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.main__show-des {
    padding-right: 1rem;
    font-size: 1.5rem;
    color: #FFF;
}

.main__how-many {
    margin-top: 1.2rem;
    font-size: 1.5rem;
    color: #FFF;
}

/* .main__show-set-time {
    padding: 1rem 3rem;
    font-size: 1.5rem;
    background: #dd7b7bca;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    text-decoration: none;
} */
.main__break-timer {
    display: none;
}

input {
    padding: 1rem 3rem;
    font-size: 1.5rem;
    background: #dd7b7bca;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}




.un-hide {
    display: inherit;
}

.hide {
    display: none;
}

.break-color {
    background: rgba(45, 182, 45, 0.808);
}

@media (max-width: 820px) {
    html {
        width: 100%;
    }

    .container {
        width: 100%;
    }

    .header {
        display: flex;
        justify-content: center;
    }

    .header__title {
        font-size: 3rem;
        text-align: center;
    }

    .main__buttons {
        display: flex;
        flex-direction: column;
    }

    button {
        margin: 2rem;
    }

    i{
        margin:0 2rem 1rem;
    }

    .main__show-timer-div{
        display: flex;
        flex-direction: column;
    }

    input {
        text-align: center;
        padding: 1rem 2rem;
    }

    .main__show-des {
        font-size: 1.3rem;
        padding: 0;
    }
}

@media (max-width: 628px) {

    html {
        overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
  max-width: 630px;
    }

    .header {
        margin-top: 1.5rem;
    }

    .header__title {
        font-size: 2.2rem;
        text-align: center;
    }

    button {
        margin: 2rem;
        padding: 0.5rem 1rem;
    }

    .main__how-many {
        font-size: 1.2rem;
    }

    .main__show-timer-div{
        display: flex;
        flex-direction: column;
    }

    input {
        text-align: center;
        padding: 1rem 1.5rem;
    }

    .main__show-des {
        font-size: 1.1rem;
        padding: 0;
    }
}